services:
  rabbitmq:
    image: rabbitmq:4.2.2-management
    ports:
      - "5672:5672"
      - "8080:15672" # management ui - login with guest:guest

  rabbitmq-delayed:
    build: ./build # use RabbitMQ docker image with delay plugin installed
    ports:
      - "5673:5672"
      - "8081:15672" # management ui - login with guest:guest

  ready:
    image: andrewlock/wait-for-dependencies
    command: rabbitmq:15672 rabbitmq-delayed:15672
    depends_on:
      - rabbitmq
      - rabbitmq-delayed
